.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 1s, transform 0.2s;
  border-radius: 16px;
  background-color: rgba(228, 210, 185, 0.832);
}

.card:hover {
  background-color: rgb(107, 182, 101);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

img {
  height: 20vh;
}
